
h1
{
    /*Offsets the words by _ pixels, then the 3rd number is a blur over the shadow of it*/
    /* horizontal, vertical, blur, color*/
    /*Comma seperates the 2 shadows*/
    text-shadow: 3px 3px 5px red, -3px -3px 5px blue;
}

/*Box shadows*/
/*Gets that 3D popup affect*/
#box1
{
    width: 100px;
    height: 100px;
    background-color: rgba(235, 239, 232, 0.799);
    box-shadow: 3px 3px 5px;
}